In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20190101',periods=6)
print(dates)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randint(1,100,[6,6]), index=dates, columns=['羊毛衫','羽绒服','夹克','裤子','西服','裙子'])

In [4]:
df.head()

            羊毛衫  羽绒服  夹克  裤子  西服  裙子
2019-01-01   48   37  54  37  55  60
2019-01-02   34   49  76  68  22  70
2019-01-03   73   29   9  52  63  93
2019-01-04    1   98  14  13   7  28
2019-01-05    5    6  56  11  92  62

In [5]:
df['羊毛衫']

2019-01-01    48
2019-01-02    34
2019-01-03    73
2019-01-04     1
2019-01-05     5
2019-01-06    87
Freq: D, Name: 羊毛衫, dtype: int32

In [6]:
df.loc[dates[1]]

羊毛衫    34
羽绒服    49
夹克     76
裤子     68
西服     22
裙子     70
Name: 2019-01-02 00:00:00, dtype: int32

In [7]:
df.loc['2019-01-01 ']

羊毛衫    48
羽绒服    37
夹克     54
裤子     37
西服     55
裙子     60
Name: 2019-01-01 00:00:00, dtype: int32

In [8]:
df.loc[dates[0]:dates[3],'羊毛衫':'西服']

            羊毛衫  羽绒服  夹克  裤子  西服
2019-01-01   48   37  54  37  55
2019-01-02   34   49  76  68  22
2019-01-03   73   29   9  52  63
2019-01-04    1   98  14  13   7

In [9]:
df.columns

Index(['羊毛衫', '羽绒服', '夹克', '裤子', '西服', '裙子'], dtype='object')

In [10]:
df.index  #索引

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
a = df.index[0]

In [15]:
a.strftime("%Y-%m-%d %H:%M:%S.%f")

'2019-01-01 00:00:00.000000'

In [13]:
b = a.strftime("%Y-%m-%d %H:%M:%S.%f") .strip('00:00:00.000000')   #将'Timestamp' object 时间转化为字符串

In [14]:
print('时间是：',b)   #strip 剪切字符串

时间是： 2019-01-01