## Sankey：桑基图实例

In [56]:
import json
import os
import pandas as pd
import numpy as np
from pyecharts import options as opts
from pyecharts.charts import Page, Sankey

In [57]:
#读出本地文件
san = pd.read_excel('F:\\素材库\\数据\\消费构成.xlsx')

In [58]:
san.head()

   资源   流向  数值
0   衣服  上衣  20
1  NaN  裤子  10
2    住  旅社  20
3  NaN  宾馆  20
4   购物  超市  20

In [59]:
# 填充空白值,向前填充
san = san.fillna(method='ffill')

In [60]:
san.head()

  资源   流向  数值
0  衣服  上衣  20
1  衣服  裤子  10
2   住  旅社  20
3   住  宾馆  20
4  购物  超市  20

In [61]:
# 重设列名，为桑吉图做准备
san.columns =["source","target","value"]

In [62]:
san.head()

  source target  value
0     衣服     上衣     20
1     衣服     裤子     10
2      住     旅社     20
3      住     宾馆     20
4     购物     超市     20

In [63]:
#构造桑吉图的links ,pandas dataframe 转为json
san.to_json(orient="records",force_ascii=False)

'[{"source":"衣服","target":"上衣","value":20},{"source":"衣服","target":"裤子","value":10},{"source":"住","target":"旅社","value":20},{"source":"住","target":"宾馆","value":20},{"source":"购物","target":"超市","value":20},{"source":"购物","target":"商场","value":20},{"source":"娱乐","target":"电影","value":20},{"source":"娱乐","target":"游戏","value":20},{"source":"上衣","target":"短袖","value":10},{"source":"上衣","target":"T恤","value":10},{"source":"短袖","target":"黄短袖","value":5},{"source":"短袖","target":"绿短袖","value":5},{"source":"超市","target":"鸡蛋","value":10},{"source":"超市","target":"牛奶","value":5},{"source":"超市","target":"饼干","value":5}]'

In [91]:
link = san.to_json(orient="records",force_ascii=False)

In [92]:
print(link)

[{"source":"衣服","target":"上衣","value":20},{"source":"衣服","target":"裤子","value":10},{"source":"住","target":"旅社","value":20},{"source":"住","target":"宾馆","value":20},{"source":"购物","target":"超市","value":20},{"source":"购物","target":"商场","value":20},{"source":"娱乐","target":"电影","value":20},{"source":"娱乐","target":"游戏","value":20},{"source":"上衣","target":"短袖","value":10},{"source":"上衣","target":"T恤","value":10},{"source":"短袖","target":"黄短袖","value":5},{"source":"短袖","target":"绿短袖","value":5},{"source":"超市","target":"鸡蛋","value":10},{"source":"超市","target":"牛奶","value":5},{"source":"超市","target":"饼干","value":5}]

In [66]:
# 统计category类目的个数
san.loc[:, ['source', 'target']]  #取出'source', 'target'前两列

   source target
0      衣服     上衣
1      衣服     裤子
2       住     旅社
3       住     宾馆
4      购物     超市
5      购物     商场
6      娱乐     电影
7      娱乐     游戏
8      上衣     短袖
9      上衣     T恤
10     短袖    黄短袖
11     短袖    绿短袖
12     超市     鸡蛋
13     超市     牛奶
14     超市     饼干

In [67]:
san['source'].unique()

array(['衣服', '住', '购物', '娱乐', '上衣', '短袖', '超市'], dtype=object)

In [68]:
a = san['source'].unique()
b =san['target'].unique()

###  1, array转为list要用tolist()方法

In [69]:
#  1, array转为list要用tolist()方法
a.tolist()

['衣服', '住', '购物', '娱乐', '上衣', '短袖', '超市']

###  2, array转为list要用list()方法

In [70]:
list(b)

['上衣',
 '裤子',
 '旅社',
 '宾馆',
 '超市',
 '商场',
 '电影',
 '游戏',
 '短袖',
 'T恤',
 '黄短袖',
 '绿短袖',
 '鸡蛋',
 '牛奶',
 '饼干']

In [71]:
d = list(a)+list(b)
d

['衣服',
 '住',
 '购物',
 '娱乐',
 '上衣',
 '短袖',
 '超市',
 '上衣',
 '裤子',
 '旅社',
 '宾馆',
 '超市',
 '商场',
 '电影',
 '游戏',
 '短袖',
 'T恤',
 '黄短袖',
 '绿短袖',
 '鸡蛋',
 '牛奶',
 '饼干']

In [72]:
# 使用set集合去重
set(d)

{'T恤',
 '上衣',
 '住',
 '商场',
 '娱乐',
 '宾馆',
 '旅社',
 '游戏',
 '牛奶',
 '电影',
 '短袖',
 '绿短袖',
 '衣服',
 '裤子',
 '购物',
 '超市',
 '饼干',
 '鸡蛋',
 '黄短袖'}

In [73]:
cat = list(set(d))
cat

['绿短袖',
 '牛奶',
 'T恤',
 '上衣',
 '游戏',
 '旅社',
 '裤子',
 '娱乐',
 '住',
 '超市',
 '购物',
 '衣服',
 '电影',
 '商场',
 '短袖',
 '鸡蛋',
 '黄短袖',
 '宾馆',
 '饼干']

In [74]:
#创建类目表格

pcat = pd.DataFrame({'name':cat})
pcat

   name
0   绿短袖
1    牛奶
2    T恤
3    上衣
4    游戏
5    旅社
6    裤子
7    娱乐
8     住
9    超市
10   购物
11   衣服
12   电影
13   商场
14   短袖
15   鸡蛋
16  黄短袖
17   宾馆
18   饼干

In [103]:
pcat.to_list()

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [75]:
pcat.to_json(orient="records",force_ascii=False)  #转化为json格式

'[{"name":"绿短袖"},{"name":"牛奶"},{"name":"T恤"},{"name":"上衣"},{"name":"游戏"},{"name":"旅社"},{"name":"裤子"},{"name":"娱乐"},{"name":"住"},{"name":"超市"},{"name":"购物"},{"name":"衣服"},{"name":"电影"},{"name":"商场"},{"name":"短袖"},{"name":"鸡蛋"},{"name":"黄短袖"},{"name":"宾馆"},{"name":"饼干"}]'

In [90]:
node = pcat.to_json(orient="records",force_ascii=False)

print(node)
type(node)

[{"name":"绿短袖"},{"name":"牛奶"},{"name":"T恤"},{"name":"上衣"},{"name":"游戏"},{"name":"旅社"},{"name":"裤子"},{"name":"娱乐"},{"name":"住"},{"name":"超市"},{"name":"购物"},{"name":"衣服"},{"name":"电影"},{"name":"商场"},{"name":"短袖"},{"name":"鸡蛋"},{"name":"黄短袖"},{"name":"宾馆"},{"name":"饼干"}]

str

## 注意此时的nodes 和links为字符串，需要json转化为list

In [99]:
json.loads(link)

[{'source': '衣服', 'target': '上衣', 'value': 20},
 {'source': '衣服', 'target': '裤子', 'value': 10},
 {'source': '住', 'target': '旅社', 'value': 20},
 {'source': '住', 'target': '宾馆', 'value': 20},
 {'source': '购物', 'target': '超市', 'value': 20},
 {'source': '购物', 'target': '商场', 'value': 20},
 {'source': '娱乐', 'target': '电影', 'value': 20},
 {'source': '娱乐', 'target': '游戏', 'value': 20},
 {'source': '上衣', 'target': '短袖', 'value': 10},
 {'source': '上衣', 'target': 'T恤', 'value': 10},
 {'source': '短袖', 'target': '黄短袖', 'value': 5},
 {'source': '短袖', 'target': '绿短袖', 'value': 5},
 {'source': '超市', 'target': '鸡蛋', 'value': 10},
 {'source': '超市', 'target': '牛奶', 'value': 5},
 {'source': '超市', 'target': '饼干', 'value': 5}]

In [101]:
links = json.loads(link)
nodes = json.loads(node)

In [80]:
#  nodes = [
#         {"name": "category1"},
#         {"name": "category2"},
#         {"name": "category3"},
#         {"name": "category4"},
#         {"name": "category5"},
#         {"name": "category6"},
#     ]

# links = [
#         {"source": "category1", "target": "category2", "value": 10},
#         {"source": "category2", "target": "category3", "value": 15},
#         {"source": "category3", "target": "category4", "value": 20},
#         {"source": "category5", "target": "category6", "value": 25},
#     ]

In [102]:
# 绘制桑吉图

c = (
        Sankey()
        .add(
         "sankey",
            nodes,
            links,
            linestyle_opt=opts.LineStyleOpts(opacity=0.2, curve=0.5, color="source"),
            label_opts=opts.LabelOpts(position="right"),
        )
        .set_global_opts(title_opts=opts.TitleOpts(title="Sankey-基本示例"))
    )
c.render_notebook()

In [78]:
link= [
        {"source": "category1", "target": "category2", "value": 10},
        {"source": "category2", "target": "category3", "value": 15},
        {"source": "category3", "target": "category4", "value": 20},
        {"source": "category5", "target": "category6", "value": 25},
    ]

In [54]:
print(link)

[{'source': 'category1', 'target': 'category2', 'value': 10}, {'source': 'category2', 'target': 'category3', 'value': 15}, {'source': 'category3', 'target': 'category4', 'value': 20}, {'source': 'category5', 'target': 'category6', 'value': 25}]